.button-group {
  margin-bottom: 20px;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
}
.square {
  height: 15px;
  width: 15px;
}
.row.grid-row {
  background-color: rgba(221, 221, 221, 0.8);
  padding: 20px;
}
h1 span {
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Nunito','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.demo-header {
  background-image: url("/images/pat.png");
  background-repeat: repeat;
  background-attachment: fixed;
}