pre {
  margin: 0 10px;
}
code {
  display: block;
  padding: 10px 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #E7E7E7;
}
code[class*="language"] {
  height: auto !important;
  background-color: transparent;
  position: inherit;
}
pre[class*="language-"]>code {
  border-left: 10px solid $fa-green !important;
  box-shadow: 0px 0px 0px 0px $fa-green, 0px 0px 0px 1px #dfdfdf !important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  margin-top: -15px !important;
}
