.fa-blue {
  background-color: $fa-blue;
}
.fa-green {
  background-color: $fa-green;
}
.fa-purple {
  background-color: $fa-purple;
}
.fa-pink {
  background-color: $fa-pink;
}
.fa-yellow {
  background-color: $fa-yellow;
}
.fa-red {
  background-color: $fa-red;
}
.fa-cloudy-white {
  background-color: $fa-cloudy-white;
}
.fa-grey {
  background-color: $fa-grey;
}
.fa-light-grey {
  background-color: $fa-light-grey;
}
.fa-dark-grey {
  background-color: $fa-dark-grey;
}
.fa-black {
  background-color: $fa-black;
}
.white {
  background-color: white;
}
.light {
  color: white;
}
.dark {
  color: $fa-dark-grey;
}