.fa-blue {
  background-color: $fa-blue;
}
.fa-blue-c {
  color: $fa-blue;
}
.fa-green {
  background-color: $fa-green;
}
.fa-green-c {
  color: $fa-green;
}
.fa-purple {
  background-color: $fa-purple;
}
.fa-purple-c {
  color: $fa-purple;
}
.fa-pink {
  background-color: $fa-pink;
}
.fa-pink-c {
  color: $fa-pink;
}
.fa-yellow {
  background-color: $fa-yellow;
}
.fa-yellow-c {
  color: $fa-yellow;
}
.fa-red {
  background-color: $fa-red;
}
.fa-red-c {
  color: $fa-red;
}
.fa-cloudy-white {
  background-color: $fa-cloudy-white;
}
.fa-cloudy-white-c {
  color: $fa-cloudy-white;
}
.fa-grey {
  background-color: $fa-grey;
}
.fa-grey-c {
  color: $fa-grey;
}
.fa-light-grey {
  background-color: $fa-light-grey;
}
.fa-light-grey-c {
  color: $fa-light-grey;
}
.fa-dark-grey {
  background-color: $fa-dark-grey;
}
.fa-dark-grey-c {
  color: $fa-dark-grey;
}
.fa-black {
  background-color: $fa-black;
}
.fa-black-c {
  color: $fa-black;
}
.white {
  background-color: white;
}
.white-c {
  color: white;
}
.light {
  color: white !important;
}
.dark {
  color: $fa-dark-grey !important;
}