* {
  scroll-behavior: smooth;
}
  .overflow-hidden {
  overflow: hidden !important;
}
.hidden {
  display: none !important;
}
.center {
  text-align: center !important;
}
.push-bottom-small {
  margin-bottom: $space-small !important;
}
.push-bottom-smedium {
  margin-bottom: $space-smedium !important;
}
.push-bottom-medium {
  margin-bottom: $space-medium !important;
}
.push-bottom-large {
  margin-bottom: $space-large !important;
}
.push-bottom-xlarge {
  margin-bottom: $space-xlarge !important;
}
.push-bottom-xxlarge {
  margin-bottom: $space-xxlarge !important;
}
.push-right-small {
  margin-right: $space-small !important;
}
.push-right-smedium {
  margin-right: $space-smedium !important;
}
.push-right-medium {
  margin-right: $space-medium !important;
}
.push-right-large {
  margin-right: $space-large !important;
}
.push-top-small {
  margin-top: $space-small !important;
}
.push-top-smedium {
  margin-top: $space-smedium !important;
}
.push-top-medium {
  margin-top: $space-medium !important;
}
.push-top-large {
  margin-top: $space-large !important;
}
.push-top-xxlarge {
  margin-top: $space-xxlarge !important;
}
.pad {
  padding: 25px;
}
.pad-bottom-small {
  padding-bottom: $space-small !important;
}
.pad-bottom-smedium {
  padding-bottom: $space-smedium !important;
}
.pad-bottom-medium {
  padding-bottom: $space-medium !important;
}
.pad-bottom-large {
  padding-bottom: $space-large !important;
}
.pad-bottom-xxlarge {
  padding-bottom: $space-xxlarge !important;
}
.pad-right-small {
  padding-right: $space-small !important;
}
.pad-right-smedium {
  padding-right: $space-smedium !important;
}
.pad-right-medium {
  padding-right: $space-medium !important;
}
.pad-right-large {
  padding-right: $space-large !important;
}
.pad-top-small {
  padding-top: $space-small !important;
}
.pad-top-smedium {
  padding-top: $space-smedium !important;
}
.pad-top-medium {
  padding-top: $space-medium !important;
}
.pad-top-large {
  padding-top: $space-large !important;
}
.pad-top-large {
  padding-top: $space-large !important;
}
.pad-top-xxlarge {
  padding-top: $space-xxlarge !important;
}
.flush-top {
  margin-top: 0;
  padding-top: 0;
}
.flush-left {
  margin-left: 0;
  padding-left: 0;
}
.no-padding {
  padding: 0 !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.clickable:hover {
  cursor: pointer;
}