// COLORS

$fa-blue: #1BA8F2;
$fa-green: #50E3C2;
$fa-purple: #6236DA;
$fa-pink: #E350A9;
$fa-yellow: #E3CB50;
$fa-red: #E35050;
$fa-cloudy-white: #F2F7F7;
$fa-grey: #838383;
$fa-dark-grey: #1f1f1f;
$fa-black: #010101;
$fa-light-grey: #D2D2D2;

// THEME COLORS

$theme-colors: (
  "fa-blue": $fa-blue,
  "fa-green": $fa-green,
  "fa-purple": $fa-purple,
  "fa-pink": $fa-pink,
  "fa-yellow": $fa-yellow,
  "fa-red": $fa-red,
);

// TYPOGRAPHY
$nunito: 'Nunito','Helvetica Neue',Helvetica,Arial,sans-serif;
$muli: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
$source: 'Source Sans Pro', sans-serif;

// BUTTONS
$btn-small-size: .8em 1em;
$btn-large-size: 1.5em 3em;

// PADDING
$space-xsmall:  5px;
$space-small:   10px;
$space-smedium: 20px;
$space-medium:  30px;
$space-large:   40px;
$space-xlarge:  50px;
$space-xxlarge: 100px;

//Shadow

.shadow {
  -webkit-box-shadow: -8px 12px 14px -5px rgba(0,0,0,0.13);
  -moz-box-shadow: -8px 12px 14px -5px rgba(0,0,0,0.13);
  box-shadow: -8px 12px 14px -5px rgba(0,0,0,0.13);
  transition:all .5s ease;
}